  .rating_location {
      display: flex;
      gap: 20px;
      margin-bottom: 24px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  .rating {
      display: flex;
      gap: 5px;
  }

  .location {
      display: flex;
      gap: 5px;
  }