.nav_container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #F2F4F7;
}

.logo {
    display: flex;
    color: var(--main-color);
    font-weight: var(--font-weight-semibold);
    font-size: 24px;
}

.logo_two {
    color: var(--text);
}

.link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main-color);
    text-decoration: none;
}


.isActive {
    color: var(--button-color-hover);
}

.nav {
    display: flex;
    gap: 20px;
    margin-left: 33%;
    margin-right: 60%;
}

